<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo à Gestão de Eventos</h1>
    <ul>
        <li><a href="/cadastro_evento">Cadastrar Evento</a></li>
        <li><a href="/atualizar_evento">Atualizar Evento</a></li>
        <li><a href="/excluir_evento">Excluir Evento</a></li>
        <li><a href="/cadastro_palestrante">Cadastrar Palestrante</a></li>
    </ul>
</body>
</html>
